<app-top-bar [titulo]="titlePage"></app-top-bar>

<div class="register-box">
    <br><br>
    <input name="user" type="text" placeholder="User" id="user">
    <br>
    <input name="passwd" type="password" placeholder="Password" id="passwd"/>
    <br><br><br>
    <div class="register-buttons">
        <a id="login_button" (click)="loginType()" style="color:white">Login</a>        
    </div>
    <br>
    <a style="cursor: pointer;" [routerLink]="['/client/register']">Cadastrar-se como cliente</a>
    <br>
    <a style="cursor: pointer; background-color: #7851a9" [routerLink]="['/owner/register']">Cadastrar-se como logista</a>
</div>
