html, body, head{
	margin: 0;
	padding: 0 0 0 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{scroll-behavior:smooth}

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  .container {
    display: flex;
    flex-direction:column;
   
   
  }
  
  router-outlet + *  {
    padding: 0;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Fancy Button */
  
  .fancy-button {
    background-color: white;
    color: #1976d2;
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  
  /* Top Bar */
  
  app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: white;
    margin: 0;
  }
  
  /* Checkout Cart, Shipping Prices */
  
  .cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }

  .productComponent{
    border: 1px solid gray;
    background: white;
    margin:10px;
    transition: transform .2s;
    border-radius: 5%;
    min-width: 15em;
    max-width: 300px;
    width: 20%;
  }

  .productComponent h3, h2{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 15em;
  }

  .productsList{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .productComponent:hover{
    transition: transform .2s;
    transform: scale(1.05);
  }

  .img-responsive {
    display: block;
    height: auto;
    max-width: 80%;
    transition: transform .2s;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }

  .big-img-responsive{
    float:left;
    max-width: 26%;
  }

  .product-detail-text{
    margin: 30px;
  }

  .product-detail-text h4{
    font-size: 2em;
    max-height: 5%;
  }

  .product-detail-text h3{
    margin-top: 30px;
    font-size: 1.5em;
  }

  .product-detail-text a{
    text-align: center;
    font-size: 2em;
    height: 5em;
    width: 20em;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 20%;
    max-height: 5%;
    line-height: 65px;
    background-color: #1976d2;
    color: white;
    border-radius: 5%;
  }

  .img-coracao{
    max-width: 20%;
    height: auto;
  }

  @media only screen and (max-width: 500px) {
    .productComponent{
      width: 80%;
    }

  }

  @media only screen and (max-width: 800px) {
    .big-img-responsive{
      float: none;
      max-width: 80%;
    }

    .product-detail-text{
      margin: 30px;
      text-align: center;
    }

    .register-box{
      text-align: center;
      max-width: 80%;
      width: 30em;
      margin-inline: 0%;
      margin: 0px;
      padding: 0px;
      background-color: #b1b1b1;
      padding-bottom: 65px;
      border-radius: 5%;
    }
  
    .register-box input{
      width: 5%;
      height: 2%;
    }

    .register-buttons{
      font-size: 1em;
      height: 5em;
      width: 20em;
      padding: 10px;
      line-height: 0px;
      margin: 15px;
    }
  }

  .register-box{
    text-align: center;
    background-color: #b1b1b1;
    margin: 30px;
    padding: 30px;
    margin-inline: auto;
    padding-bottom: 65px;
    border-radius: 5%;
    width: min(600px, 90vw);
  }

  .register-box input{
    max-width: 70%;
    width: 20em;
    height: 4em;
    max-height: 20%;
  }

  .register-box a{
    text-align: center;
    font-size: 1em;
    height: 10px;
    width: 20em;
    max-width: fit-content;
    line-height: 13px;
    background-color: #1976d2;
    color: white;
    border-radius: 5%;
    margin: 15px;
    display: inline-block;
    padding: 30px;
    padding-top: 20px;
  }

  .register-buttons{
    
  }