<app-top-bar [titulo]="titlePage" style='background-color: #7851a9'></app-top-bar>

<div class="register-box">
    <br><br>
    <input type="text" placeholder="Nome" id="name">
    <br>    
    <input type="text" placeholder="Descrição" id="description">    
    <br>
    <input type="text" placeholder="Código de Barras" id="barCode">
    <br>
    <input type="text" placeholder="Quantidade" id="quantidade">
    <br>
    <input type="text" placeholder="Preço" id="preco">
    <br>
    <input type="text" placeholder="Imagem (ex.https://images...)" id="image">
    <br>
    <select  id="store" class="form-select form-select" aria-label="Default select example">
        <option selected>Selecione a loja</option>
        <option *ngFor="let store of stores" value="{{store.cnpj}}">{{store.name}}</option>
      </select>
    <br><br><br>
    <div class="register-buttons">
        <a type="button" (click)="registerProduct()">Save Changes</a>
        <a [routerLink]="['']">Cancel</a>
    </div>
    <br>
</div>